* {
    background-color: white
}

body {
    height: 100%;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    color: rgb(157, 127, 255);
}

.subheader {
    color: rgba(240, 136, 33, 0.885)
}

nav {
    margin-bottom: 50px;
    margin-top: 10px;
}

.nav-tabs {
    font-size: large;
    
    
}

.footer {
    display: flex;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    justify-content: center;
   
    
}

img {
    border-radius: 50%;
    width: 15%;
    height: 15%;
}


.contactForm {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.linkedin-logo {
    display: flex;
    width: 4%;
    height: 4%;
}

.welcome {
    display: flex;
    align-items: flex-end;
}

.projects {
    display: grid;
}

