:root {
    --text: #9d7fff;
    --peach: #ffebcd;
    --green: #6b8e23;
}

html,
body {
    margin: 0 auto;
    width: 95%;
    min-height: 100vh;
    font-family: 'Slabo 27px', serif;
}

nav {
    background-color: var(--peach);
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    margin-bottom: 15px;
    margin-top: 15px;
    height: relative;
}

nav a:link,
a:visited {
    margin-top: 15px;
    text-decoration: none;
    color: black;

}

nav a:hover {
    text-shadow: 0 0 10px #6b8e23;
    color: var(--green);
}

.nav-item a:focus {
    color: #6b8e23;
}

.nav-pills {
    font-size: 22px;
}


header {
    background-color: var(--peach);
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    height: auto;
}

.logo {
    height: 170px;
    width: 250px;
    padding-top: 20px;
}

.home-graphic img {
    margin-left: auto;
    margin-top: auto;
    height: 40%;
    width: 40%;
}

.home-text {
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 25%;
    margin-top: 10%;
    text-align: center;
    color: black;
}


.home-text img {
    height: 50px;
    width: 100px;
    padding-bottom: 10px;
    margin-left: 160px;
}

.footer-container {
    width: 100%;
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    position: relative;
    bottom: 0;
    padding-top: 50px;
    padding-bottom: -10px;
    margin: 0;
}

.made-by-marina {
    display: absolute;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

.attribution {
    display: absolute;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.projects {
    display: inline grid;
    justify-content: space-evenly;
    padding: 20px;
    align-items: center;
}

.projects a:hover {
    box-shadow: 0 0 10px #6b8e23;
    color: var(--green);
}

a {
    text-decoration: none;
}

.card-img {
    height: 250px;
    align-content: center;
    padding-bottom: 10px;
}

#fs-form {
    display: grid;
    width: 30%;
    padding: 5px;
}

#submit {
    width: 5rem;
    margin-top: 10px;
    background-color: var(--green);
    color: var(--peach);
    border: 3px #6b8e23;
    font-size: 18px;
}

label {
    font-size: 20px;
    font-weight: 550;
}

#full-name,
#email,
#message {
    font-size: 18px;
    margin-bottom: 5px;
}

.resume {
    margin-top: 20px;
    margin-bottom: 20px;
}

.resume a,
.resume a:visited {
    text-decoration: none;
    color: black;
}

.resume a:hover {
    text-shadow: 0 0 10px #6b8e23;
    color: var(--green);
}

.skills {
    float: left;
    padding-right: 150px;
    padding-bottom: 100px;
    font-size: 16px;
}

.about-text {
    display: inline-block;
    width: 75%;
    font-size: 22px;
    padding-left: 10px;
    padding-bottom: 50px;
}

.linkedin-logo,
.github-logo {
    height: 80px;
    width: 80px;
}

@media screen and (max-width: 1300px) {
    .about-text {
        width: 100%;
    }

    #fs-form {
        width: 50%;
    }

    .home-text,
    .home-text img {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .home-graphic img {
        margin-left: auto;
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .about-text {
        width: 100%;
    }

    #fs-form {
        width: 50%;
    }

    .home-text,
    .home-text img {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }


    .home-graphic img {
        height: 100%;
        width: 100%;
    }
}


@media screen and (max-width: 768px) {
    .about-text {
        width: 100%;
    }

    nav {
        flex-direction: column;
    }

    #fs-form {
        width: 75%;
    }

    .home-graphic img {
        height: 100%;
        width: 100%;
        margin: auto;
    }

    .home-text,
    .home-text img {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }


    @media screen and (max-width: 576px) {
        .about-text {
            width: 100%;
        }

        nav ul {
            flex-direction: column;
        }

        #fs-form {
            width: 100%;
        }

        .home-graphic img {
            margin-right: auto;
            margin-left: auto;
            height: 100%;
            width: 100%;
        }

        .home-text,
        .home-text img {
            margin-left: auto;
            margin-right: auto;
            float: none;
        }


    }
}